@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    color: rgb(28, 27, 27);
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-behavior: smooth;
}
.main-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 1em;
    background-color: #7244D2;
    padding: 0.6em 0.7em;
    border-width: 0.5px;
    border-radius: 10px;
    border-color: #7244D2;
    color: white;
    cursor: pointer;
    transition: 0.4s ease;
    margin-top: 1em;
}
header{
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid #7244D2;;
    padding: 1em 8em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    z-index: 1;
}
.link{
   padding: 0.8em;
   text-decoration: none;
}
.logo i{
    font-size: 40px;
    font-weight: 700;
    color: #7244D2;
}
 
.navigation a:hover{
    color: #7244D2;
}
/* ////////////////////  home ///////////// */
section{
    padding:1em 8em; ;
}
.home{
    height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    background: url('./images/about-bg.png') no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.home-content{
    font-size: 1.3em;
    width: 50%;
    margin-top: 6em;
}

.home h5{
    font-size:1.3em;
}
.home h3{
    font-size:1.5em;
}
.home span{
    display: inline-block;
    color: #7244D2;
    font-size: 1.6em;
    padding: 0.1em 0 0.1em 0;
  
}
.btns{
    padding: 1em 0 ;
    display: flex;
    gap: 1em;
}
.btns a{
    text-decoration: none;
}
.main-btn:hover{
    background-color:#3a2073;
    transform: scale(1.1);
}
.btn2 {
    background-color: white;
    border-width: 0.5px;
    color: #7244D2;
    cursor: pointer;
    transition: 0.4s ease
}
.btn2:hover{
    background-color: #7244D2;
    transform: scale(1.1);
    color: white;
}
.socials a i{
    text-decoration: none;
    font-size: 2em;
}
.socials{
    display: inline-block;
    padding: 1em 0 ;
}
.socials a.github:hover i {
    color: black;
}
.socials a.linkedin:hover i {
    color: blue
}

.socials a.mail:hover i {
    color: rgb(202, 56, 93);
}
/* //////////////////////// about  ///////////*/
.about{
    background-color: #F5F5F5;
    height: 100vh;
    min-width: 100%;
    background: url('./images/about\ section\ bg\ .png') no-repeat;
    background-size: cover;
    background-position: center;
}

.about-content{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-top: 6em;
}
.about-description{
width: 50%;
text-align: justify;
}

.about-description button i{
    color: white;
    font-size: 1.5em;

}
.about-description span a{
    text-decoration: none;
}


/* //////////////// projects ////////////// */
.projects{
    background-color: #FFFFFF;
}
.section-title{
    text-align: center;
    font-size: 2.6em;
    color: #3a2073;
    margin-top: 1.5em;
}
.content{
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 0.2em; 
    margin-top: 5em; 


}
.projects-card{
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    transition: 1s ease;
    box-shadow: 2px 2px 2px 2px rgb(76, 73, 73);
    
}
.about-project{
    width: 60vw;
    margin: auto 1em;
    font-size: 0.84em;
    font-weight: 400;
    text-align: justify;
    
}
.about-project p strong:last-child{
    color: rgb(102, 97, 97);
}
.about-project p{
    padding: 0.3em 0;
}
.projects-card:hover{
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: rgba(114, 68, 210, 0.3) 0px 19px 38px, rgba(114, 68, 210, 0.22) 0px 15px 12px;

}
.projects-card:hover .project-img{
    opacity: 0.9;
    cursor: pointer;
}
 
.project-info{
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 5px 0;

}
.project-info a{
    color: #3a2073;
}
.project-info a i{
    font-size: 30px;
}
.project-img img{
    width: 100%;
    border-radius: 0.5em;
}
.project-datails{
    padding: 0.7em;
}
.project-description{
    overflow: hidden;
}
/* //////////////// techno /////////////// */
.techno{
    width: 100%;
    height: 70vh;
    overflow: hidden;
    background-color: #F4F4F4;
    margin-top: 4em;
}

.tech-icons i{
    font-size: 10em;
}
.tech-icons img{
    width: 10em;
    height: 10em;
}
@keyframes moveLeft {
    from { transform: translateX(100%); }
    to { transform: translateX(-380%); }
}
.tech-icons {
    display: flex;
    justify-content: space-between;
    gap: 2em;
    margin-top: 5em;
    animation: moveLeft 10s linear infinite;
}
#js{
    color: yellow;
}
#tailwind{
    color: rgb(44, 171, 207);
} 

#nodejs{
    color: green;
}
#mongodb{
    color: rgb(24, 170, 24);
}
#react{
    color: rgb(32, 96, 174);
}
/* ///////////// contact /////////// */
.contact{
    height: 100vh;
    width: 100%;
}
.input-container{
    display: flex;
    flex-direction: column;
    gap: 0.4em ;
    margin: 5em auto 0 auto;
    width: 50vw;
    
}
.input-container input{
    height: 4em;
    border: none;
    border-radius: 10px;
    background-color: #F4F4F4;
    outline: none;
}
.input-container textarea{
    height: 9em;
    border: none;
    border-radius: 10px;
    background-color: #F4F4F4;
    outline: none;
}
.main-btn i{
    color: white;
    font-size: 1.5em;
}

/* ///////////// footer /////////// */
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3A2073;
    /* color: #F4F4F4; */
    height: 20vh;
}
.contact-socials a i, .copyright{
    color: #F4F4F4;
    font-size: 1em;
}
.contact-socials a{
    font-size: 2em;
}
.copyright span{
    font-size: 1.2em;
    color: #7244D2;
    font-weight: bold;
}
#check{
    display: none;
}
.menu{
    font-size: 2em;
    display: none;
}
/* ///////////////// media //////////// */
@media screen and (max-width: 480px) {
    .menu{
        display: block;
    }
    section{
        padding: 1em 2em;
    }
    .navigation{
        position: fixed;
        top: 4.5em;
        right: 90em;
        width: 100vw;
        height: 100vh;
        font-size: 1em;
        padding: 1em 1em;
        background-color: #ffffff;
    }
    .navigation a{
        display: block;
    }
    #check:checked ~ .navigation{
        right: -5em;
    }
    header{
        padding: 0.5em 1em;
    }
    .home{
        background: none;
        padding:   1em 2em;
        height: 50vh;
        
    }
    .home-content{
        width:100% ;
        margin-top: 1em 0 0 0 ;
    }
    .home-content h5{
        font-size: 0.7em;
    }
    .main-btn{
        font-size: 0.5em;
        margin-top: 0;
    }
    .socials{
        font-size: 0.6em;
        padding: 0;
    }
    /* /////////////////////////////// about//////// */
    .section-title{
        font-size: 1em;
        margin-top: 0;
        padding-top: 1em;
    }
    .about{
        background: none;
        height: fit-content;
        margin: 1em 0;
    }
    .about-content{
        margin-top: 1em;
        align-items: start; 
        
    }
    .about-description{
        width: 100%;
        font-size: 0.8em;
    }
    .main-btn{
        margin-top: 1em;
    }
    /* ////////////////////////////// projects ///////////////// */
    .content{
        margin-top: 1.5em;
        display: flex;
        flex-direction: column;
    }
    .about-project{
        width: 100%;
        margin: 1em auto;
        display: block;
        order: 2;
    }
    .projects-card{
        display: block;
        order: 1;
    }
    .projects{
        margin: 0.5em 0;
    }
    /* ////////////////////////////// techno /////////// */
    .techno{
        margin-top: 0;
        height: fit-content;
    }
    .tech-icons i{
        font-size: 6em;
    }
    .tech-icons img{
        width: 6em;
        height: 6em;
    }
    /* /////////////////////////////// contact ////////////// */
    .contact{
        margin-top: 1em;
        height: fit-content;
    }
    .input-container{
        margin-top: 2em;
        width: 100%;
    }
    .footer{
        display: flex;
        flex-direction: column;
    }
    .footer p{
        font-size: 0.5em;
    }
}
@media (min-width : 481px) and (max-width : 768px) {
    .menu{
        display: block;
    }
    section{
        padding: 1em 3em;
    }
    .navigation{
        position: fixed;
        top: 4.5em;
        right: 90em;
        width: 70vw;
        height: 100vh;
        font-size: 1.5em;
        padding: 1em 3em;
        background-color: #ffffff;
    }
    .navigation a{
        display: block;
    }
    #check:checked ~ .navigation{
        right: -5em;
    }
    header{
        padding: 1em 2em;
    }
    .home h5{
        font-size: 1em;
    }
    .main-btn{
        /* font-size: 1em; */
        min-width: 9em;
    
    }
    .home{
        margin-right: 10em;
    }
    .home span{
        font-size: 1.3em;
    }
    .about{
        background: none;
        height: fit-content;
        margin: 1.5em 0;

    }
    .about-description{
        width: 90%;
    }
    .about-content{
        margin-top: 3em;
        justify-content: center;
    }
    .about-project p{
        font-size: 1.3em;
    }
    .projects{
        margin: 1.5em 0;
    }
    .content{
        display: flex;
        flex-direction: column;
    }
    .projects-card{
        display: block;
        order: 1;
    }
    .about-project{
        /* display: block; */
        order: 2;
        width: 97%;
        padding: 1em 0;
    }
    .techno{
        height: 55vh;
    }
    .input-container{
        width: 100%;
        margin-top: 3em;
    }
    .contact{
        height: 80vh;

    }
}